{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}
<h1 class="text-center">Dashboard</h1>
<br />
<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2>Fitness Achievements</h2>
        </div>
        <div class="card-body">
          <p class="card-text">
            You have completed {{ routines|length }} workout routines in total.
          </p>
          <p class="card-text">
            You have completed {{ workouts_in_last_week }}/{{
            user.goal_workouts_per_week }} workouts this week.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2>Health Statistics</h2>
        </div>
        <div class="card-body">
          <p class="card-text">
            You currently weigh {{ user.weight }} kgs which is {{
            (user.weight-user.goal_weight)|abs }} kgs from your goal.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Routines</h2>
      <form method="POST" action="{{ url_for('member.update_routine') }}">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Date</th>
              <th scope="col">Edit</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" name="new_routine_type" />
              </td>
              <td>
                <input type="date" name="new_routine_date" />
              </td>
              <td></td>
              <td>
                <button
                  type="submit"
                  formaction="{{ url_for('member.add_routine') }}"
                  class="btn btn-success"
                >
                  Add
                </button>
              </td>
            </tr>
            {% for routine in routines %}
            <tr>
              <td>
                <input
                  type="text"
                  name="routine_type"
                  value="{{ routine.type }}"
                />
              </td>
              <td>
                <input
                  type="date"
                  name="routine_date"
                  value="{{ routine.date }}"
                />
              </td>
              <td>
                <button
                  type="submit"
                  formaction="{{ url_for('member.update_routine', routine_id=routine.id) }}"
                  class="btn btn-primary"
                >
                  Edit
                </button>
              </td>
              <td>
                <button
                  type="submit"
                  formaction="{{ url_for('member.delete_routine', routine_id=routine.id) }}"
                  class="btn btn-danger"
                >
                  Remove
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>

  <script>
    window.addEventListener(
      "keydown",
      function (e) {
        if (
          e.keyIdentifier == "U+000A" ||
          e.keyIdentifier == "Enter" ||
          e.keyCode == 13
        ) {
          if (e.target.nodeName == "INPUT" && e.target.type != "textarea") {
            e.preventDefault();
            return false;
          }
        }
      },
      true
    );
  </script>
  {% endblock %}
</div>
